<app-navbar></app-navbar>
<div class="container-fluid hero-image" style="background-image:url(https://busbud.imgix.net/default-heroes/bus.jpg?auto=compress%2Cformat&w=2048&h=500&q=10)">
    <div class="cubierta">
        <form class="justify-content-center text-center" style="margin: 60px;" [formGroup]="buscadorForm">
            <h1>Encuentra un autobús en RUN LITE para tu próximo viaje.</h1><hr>
            <div class="row"> 
                <div class="col">
                    <label><strong>Orige:</strong></label>
                    <select class="form-control form-control-lg" disabled>
                        <option value="1">Tuxtla Gutierrez</option>
                    </select>
                </div>

                <div class="col">
                    <label><strong>Destino:</strong></label>
                    <select formControlName="lugar_destino" class="form-control form-control-lg">
                        <option *ngFor="let destino of listDestinos" value="{{destino.id}}">{{destino.nombre}}</option>
                    </select>
                </div>

                <div class="col">
                    <label><strong>Fecha:</strong></label>
                    <input formControlName="fecha_salida" type="date" class="form-control form-control-lg">
                </div>

                <div class="col" style="margin-top: 2em;">
                    <button type="button" class="btn btn-lg" style="background-color: #C8142C; color: white;" (click)="search()">Buscar viaje</button>
                </div>
            </div>    
        </form>
        <hr>
    </div>
</div>

<div style="margin-top: 23em;" class="container">
    <h2 *ngIf="sinResultados">Lo sentimos, no contamos con esos viajes.</h2>
    <div *ngIf="buscar">
        <div style="margin-top: 3em;">
            <h2>ELIGE TU VIAJE</h2>
        </div>
        <hr>
        <div>
            <div *ngFor="let viaje of listViajes" class="card mb-3" style="max-width: 100%;">
                <div class="row no-gutters">
                    <div class="col-md-2" style="text-align: center;">
                        <div class="col">
                            <small class="text-muted">Salida:  </small><br>{{viaje.origen}}<br>
                            <small class="text-muted">Destino: </small><br>{{viaje.destino}}
                        </div>
                    </div>

                    <div class="col-md-2" style="text-align: center;margin-top: 1em;">
                        <small class="text-muted">Tipo de boleto:  </small><br>{{viaje.clase}}
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col" style="text-align: center">
                                <small class="text-muted">Fecha de salida:  </small><br>{{viaje.fecha_salida}}<br>
                                <small class="text-muted">Hora de salida:  </small><br>{{viaje.hora}} hrs.
                            </div>
                            <div class="col" style="text-align: center;margin-top: 1.5em;">
                                <h2>${{viaje.km + viaje.costo}} pesos</h2>
                                <small>No incluye IVA</small>
                            </div>
                            <div class="col" style="margin-top: 1.7em;">
                                <button (click)="buy(viaje.id)" type="button" class="btn btn-danger btn-lg">COMPRAR BOLETO</button>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>