.ocupado {
    border-radius: 100%;
    background-color: #FD0000;
    color: white;
    width: 40px;
    height: 40px;
}

.seleccionado {
    border-radius: 100%;
    background-color: rgb(54, 66, 238);
    color: black;
    width: 40px;
    height: 40px;
}
.asiento:checked{
    background-color: rgb(54, 66, 238);
}
.disponible {
    border-radius: 100%;
    background-color: rgb(30, 151, 36);
    color: black;
    width: 40px;
    height: 40px;
}

.asiento {
    border-radius: 100%;
    background-color:transparent;
    color: black;
    width: 40px;
    height: 40px;
}