<app-navbar></app-navbar>

<div class="container">
    <h4>Seleccione su lugar</h4>
    <div class="row">
        <div class="col-md-2">
            <div class="asiento ocupado"></div>
            <small>ocupado</small>
        </div>

        <div class="col-md-2">
            <div class="asiento disponible"></div>
            <small>disponible</small>
        </div>

        <div class="col-md-2">
            <div class="asiento seleccionado"></div>
            <small>seleccionado</small>
        </div>
    </div>
    <div style="height: 270px; border: 2px solid black; padding: 20px; border-radius: 2em; width: 50%">
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-9">
                <button class="asiento disponible">A1</button>
                <button class="disponible asiento">A2</button>
                <button class="disponible asiento">A3</button>
                <button class="disponible asiento">A4</button>
                <button class="asiento disponible">A5</button>
                <button class="asiento disponible">A6</button>
                <br>
                <button class="disponible asiento">A7</button>
                <button class="disponible asiento">A8</button>
                <button class="disponible asiento">A9</button>
                <button class="disponible asiento">A10</button>
                <button class="disponible asiento">A11</button>
                <button class="disponible asiento">A12</button>

                <div style="margin-top: 2em;">
                    <button class="asiento disponible">A13</button>
                    <button class="asiento disponible">A14</button>
                    <button class="disponible asiento">A15</button>
                    <button class="asiento disponible">A16</button>
                    <button class="disponible asiento">A17</button>
                    <button class="disponible asiento">A18</button>
                    <br>
                    <button class="disponible asiento">A19</button>
                    <button class="disponible asiento">A20</button>
                    <button class="disponible asiento">A21</button>
                    <button class="disponible asiento">A22</button>
                    <button class="disponible asiento">A23</button>
                    <button class="disponible asiento">A24</button>
                </div>
            </div>

            <div class="col-md-1" style=" transform: rotate(90deg);text-align: left;">
                atras
            </div>
        </div>
    </div>
</div>